{% extends "index.html" %}
{% block title %}
<title>メール</title>
{% endblock %}
{% block body %}
<style>
	h1{
		text-align: center;
		color: #ffffff;
		background-color: #009abc;
	}
	h2{
		border-bottom: dotted;
		border-color: #c8c8c8;
		border-width:1px;
	}
	table{
		margin: 10px;
	}
	.red{
		color: #ff0000;
		font-weight: bold;
	}
	.strikethrough{
		text-decoration: line-through;
	}
	/*付箋型*/
	.btn-sticky {
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		background: #f7f7f7;
		border-left: solid 6px #ff7c5c;/*左線*/
		color: #ff7c5c;/*文字色*/
		font-weight: bold;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	}
	.btn-sticky:active {
		box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
		transform: translateY(2px);
	}
</style>
<h1>認証コード[{{ pins[0] }}]</h1>
<div class="contents" style="text-align: center;">
	<!-- <p><a href="{{ url_for('RootPage') }}">河川水位予測システム</a>にご登録いただきありがとうございます。</p><br> -->
	<hr>
	<h4>認証コード</h4>
	<h2 style="color: #f08300;font-weight: bold;">{{ pins[0] }}</h2>
	<hr>
	<p>このコードは、アカウントの確認のために使用されます。</p><br>
	<p><a href="{{ url_for('Broadcast.Verification', onetime_code=pins[1], _external=True) }}">認証ページ</a>に戻って、コードを入力してください。</p>
	<hr>
	<p>または下のボタンをタップ</p><br>
	<a href="{{ url_for('Broadcast.Verification', onetime_code=pins[1], _external=True) }}/{{ pins[2] }}" class="btn-sticky" style="border-left-color: orange;">確認する</a><br>
	<br><br><br>
	<hr>
	<p>心当たりがない場合はこのメールを削除してください</p>
</div>
{% endblock %}
