{% extends "index.html" %}
{% block title %}
<title>メール登録・変更</title>
{% endblock %}
{% block body %}
<h1>メール通知</h1>
<form action="{{ url_for('Broadcast.Registration') }}" method="POST">
	<table style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;">
		<!-- <caption>メール通知</caption> -->
		<tbody>
			<tr>
				<th>メールアドレス</th>
				<td>
					{% if status.__and__(1) %}
					<span class="red">[メールアドレス]が空欄です</span><br>
					{% elif status.__and__(2) %}
					<span class="red">無効なメールアドレスです。</span><br>
					{% elif status.__and__(4) %}
					<span class="red">既に登録されているメールアドレスです。</span><br>
					{% endif %}
					<input type="mail" name="mail_address" value="{{ form.mail_address }}" placeholder="メールアドレス" autocomplete="email" size="100" required>
					<!-- <input type="email" name="mail_address" value='{{ form.mail_address }}' required> -->
				</td>
			</tr>
			<tr>
				<td><label>予測地点</label></td>
				<td>
					<select name='point'>
						{% for place in places -%}
						<option value='{{place[0]}}'{% if place[0] == form.point %} selected{% endif %}>{{place[1]}}</option>
						{%- endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="登録"></th>
			</tr>
			{% if status.__and__(4) %}
			<tr>
				<td colspan="2" style="text-align: center;">このアドレスの<a href="{{ url_for('Broadcast.Release') }}">/登録解除</a>はこちらから</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</form>
{% endblock %}
