{% extends "index.html" %}
{% block title %}
<title>メール解除</title>
{% endblock %}
{% block body %}
<h1>メール通知解除</h1>
<form action="{{ url_for('Broadcast.Release') }}" method="POST">
	<table style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;">
		<!-- <caption>メール通知</caption> -->
		<tbody>
			<tr>
				<th>メールアドレス</th>
				<td>
					{% if status.__and__(1) %}
					<span class="red">[メールアドレス]が空欄です</span><br>
					{% elif status.__and__(2) %}
					<span class="red">無効なメールアドレスです。</span><br>
					{% elif status.__and__(4) %}
					<span class="red">登録されていないメールアドレスです。</span><br>
					{% endif %}
					<input type="mail" name="mail_address" value="{{ form.mail_address }}" placeholder="メールアドレス" autocomplete="email" size="100" required>
					<!-- <input type="email" name="mail_address" value='{{ form.mail_address }}' required> -->
				</td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="解除"></th>
			</tr>
			{% if status.__and__(4) %}
			<tr>
				<td colspan="2" style="text-align: center;">このアドレスの<a href="{{ url_for('Broadcast.Registration') }}">登録</a>/はこちらから</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</form>
{% endblock %}
