{% extends "index.html" %}
{% block title %}
<title>確認</title>
<script src="{{ url_for('Static.js', file_name='jsframe') }}" charset="utf-8"></script>
<script src="{{ url_for('Static.js', file_name='platform') }}" charset="utf-8"></script>
<script src="{{ url_for('Static.js', file_name='Verification') }}" charset="utf-8"></script>
{% endblock %}
{% block body %}
<h1>メール通知</h1>
<form action="{{ url_for('Broadcast.Verification', onetime_code=onetime[0]) }}" method="POST">
	<table style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;">
		<!-- <caption>メール通知</caption> -->
		<tbody>
			{% if status.__and__(4) %}
			<tr>
				<th colspan="2" class="red">既に登録されているメールアドレスのため変更手続きとなります。</th>
			</tr>
			{% endif %}
			<tr>
				<th>確認用PINコード</th>
				<td>
					{% if status.__and__(1) %}
					<span class="red">[PINコード]が空欄です</span><br>
					{% elif status.__and__(2) %}
					<span class="red">[PINコード]が一致しません</span><br>
					{% endif %}
					<input type="text" name="pin_code" value="" placeholder="PINコード" size="100" required>
				</td>
			</tr>
			<tr>
				<th colspan="2">届かない場合 : <button type="button" onclick="Resend('{{ onetime[0] }}');">再送する</button></th>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="確認"></th>
			</tr>
		</tbody>
	</table>
</form>
{% endblock %}
