{% extends "index.html" %}
{% block title %}
<title>404</title>
<script src="{{ url_for('Static.js', file_name='jsframe') }}" charset="utf-8"></script>
<script src="{{ url_for('Static.js', file_name='platform') }}" charset="utf-8"></script>
<script src="{{ url_for('Static.js', file_name='Verification') }}" charset="utf-8"></script>
{% endblock %}
{% block body %}
<h1>認証失敗</h1>
<div class="contents">
	<h2>コードの認証に失敗しました<br>コードの有効期限が切れたか<br>間違っている可能性があります。<br><a href="javascript:Resend('{{ onetime[0] }}');">メールを再送</a>するか、<br>再度<a href="{{ url_for('Broadcast.Registration') }}">メールアドレスを登録</a>してください。</h2>
</div>
{% endblock %}
