{% extends "index.html" %}
{% block title %}
<title>出勤可否設定</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('Static.css', file_name='button') }}">
{% endblock %}
{% block body %}
<h1>出勤可否設定</h1>
<form action="{{ url_for('Admin.ConfigSetting') }}" method="POST" >

</form>
<table border>
	<tbody>
		<tr>
			<th>体温</th>
			<td>
				<input type="checkbox" id="temperature_check" name="temperature_check" checked>
				<input type="number" name="temperature" value="37.5" min="35.0" max="39.0" step="0.1" required>
			</td>
		</tr>
		<tr>
			<th colspan="2"><input type="submit" value="設定を保存する"></th>
		</tr>
	</tbody>
</table>
{% endblock %}
