{% extends "index.html" %}
{% block title %}
<title>体調管理リスト</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('Static.css', file_name='button') }}">
{% endblock %}
{% block body %}
<h1>体調管理リスト</h1>
<table border>
	<caption>{{ today }}の体調記録</caption>
	<thead>
		<tr>
			<th>詳細</th>
			<th>名前</th>
			<th>体温</th>
			<th>頭痛<br>のどの痛み</th>
			<th>寒気<br>悪寒</th>
			<th>倦怠感<br>(筋肉痛)</th>
			<th>息苦しさ</th>
			<th>味覚異常<br>嗅覚異常</th>
			<th>最近二週間<br>県を越境</th>
			<th>出社の可否</th>
		</tr>
	</thead>
	<tbody>
		{% for item in result %}
		<tr{% if item[2] == today and (item[3] >= 37.5 or item[4] or item[5] or item[6] or item[7] or item[8] or item[9]) %} style="background-color: #e49e61;"{% endif %}>
			<td><a href="{{ url_for('Admin.ShowUser', cache=item[1]) }}" class="btn-sticky" style="border-left-color: #dccb18;">詳細</a></td>
			<td>{{ names[item[1]] }}</td>
			{% if item[2] == today %}
				<td>{{ item[3] }}℃</td>
				<td>{{ item[4] | truefalse }}</td>
				<td>{{ item[5] | truefalse }}</td>
				<td>{{ item[6] | truefalse }}</td>
				<td>{{ item[7] | truefalse }}</td>
				<td>{{ item[8] | truefalse }}</td>
				<td>{{ item[9] | truefalse }}</td>
				<td>{% if item[3] >= 37.5 or item[4] or item[5] or item[6] or item[7] or item[8] or item[9] %}可{% else %}不可{% endif %}
				</td>
			{% else %}
				<td colspan="8" class="red">本日のデータが存在しません。</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% if result.__len__() == 0 %}
		<tr>
			<th colspan="10"><span class="red">データが存在しません</span></th>
		</tr>
		{% endif %}
	</tbody>
</table>
{% endblock %}
