<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LIFF Starter</title>
		<link rel="stylesheet" href="{{ url_for('Static.css', file_name='liff-starter') }}">
	</head>
	<body>
		<div id="liffAppContent">
			<!-- ACTION BUTTONS -->
			<div class="buttonGroup">
			<div class="buttonRow">
			<button id="closeWindowButton">LIFF Appを閉じる</button>
			<button id="getProfileButton">自分のプロフィールを表示する</button>
			</div>
			</div>
			<!-- PROFILE INFO -->
			<div id="profileInfo" class="hidden textLeft">
				<h2>Profile</h2>
				<a href="#" onclick="toggleProfileData()">Profileを閉じる</a>
				<div id="profilePictureDiv"></div>
				<table>
					<tr>
						<th>displayName</th>
						<td id="displayNameField"></td>
					</tr>
					<tr>
						<th>statusMessage</th>
						<td id="statusMessageField"></td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<form action="{{ url_for('Liff.Helth', _external=True) }}" method="POST">
					<table>
						<caption>体調登録</caption>
						<thead>
							<tr>
								<th colspan="2" id="attention" class="red"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2"><input type="text" id="accessToken" name="accesstoken" value=""></th>
							</tr>
							<tr>
								<th>体温</th>
								<td>
									<input type="number" name="temperature" value="" min="35.0" max="39.0" step="0.1" required>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<!-- LOGIN LOGOUT BUTTONS -->
			<div class="buttonGroup">
				<button id="liffLoginButton">ログイン</button>
				<button id="liffLogoutButton">ログアウト</button>
			</div>
			<div id="statusMessage">
				<div id="isInClientMessage"></div>
				<div id="apiReferenceMessage">
					<p>Available LIFF methods vary depending on the browser you use to open the LIFF app.</p>
					<p>Please refer to the <a href="https://developers.line.biz/en/reference/liff/#initialize-liff-app">API reference page</a> for more information.</p>
				</div>
			</div>
		</div>
		<!-- LIFF ID ERROR -->
		<div id="liffIdErrorMessage" class="hidden">
			<p>You have not assigned any value for LIFF ID.</p>
			<p>If you are running the app using Node.js, please set the LIFF ID as an environment variable in your Heroku account follwing the below steps: </p>
			<code id="code-block">
				<ol>
					<li>Go to `Dashboard` in your Heroku account.</li>
					<li>Click on the app you just created.</li>
					<li>Click on `Settings` and toggle `Reveal Config Vars`.</li>
					<li>Set `MY_LIFF_ID` as the key and the LIFF ID as the value.</li>
					<li>Your app should be up and running. Enter the URL of your app in a web browser.</li>
				</ol>
			</code>
			<p>If you are using any other platform, please add your LIFF ID in the <code>index.html</code> file.</p>
			<p>For more information about how to add your LIFF ID, see <a href="https://developers.line.biz/en/reference/liff/#initialize-liff-app">Initializing the LIFF app</a>.</p>
		</div>
		<!-- LIFF INIT ERROR -->
		<div id="liffInitErrorMessage" class="hidden">
			<p>Something went wrong with LIFF initialization.</p>
			<p>LIFF initialization can fail if a user clicks "Cancel" on the "Grant permission" screen, or if an error occurs in the process of <code>liff.init()</code>.</p>
		</div>
		<!-- NODE.JS LIFF ID ERROR -->
		<div id="nodeLiffIdErrorMessage" class="hidden">
			<p>Unable to receive the LIFF ID as an environment variable.</p>
		</div>
		<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
		<script src="{{ url_for('Static.js', file_name='Helth') }}"></script>
	</body>
</html>
