{% extends "index.html" %}
{% block title %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('Static.css', file_name='liff-starter') }}">
<title>通知設定</title>
{% endblock %}
{% block body %}
<h1>通知設定</h1>
<form action="{{ url_for('Broadcast.Registration') }}" method="POST">
	<table style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;">
		<!-- <caption>メール通知</caption> -->
		<tbody>
			<tr>
				<th>設定する媒体</th>
				<td>
					<select name='target'>
						{% for item in target %}
						<option value='{{item[0]}}'{% if item[0] == target[0][0] %} selected{% endif %}>{{item[1]}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label>予測地点</label></td>
				<td>
					<select name='point'>
						{% for place in places -%}
						<option value='{{place[0]}}'{% if place[0] == form.point %} selected{% endif %}>{{place[1]}}</option>
						{%- endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="登録"></th>
			</tr>
			{% if status.__and__(4) %}
			<tr>
				<td colspan="2" style="text-align: center;">このアドレスの<a href="{{ url_for('Broadcast.Release') }}">/登録解除</a>はこちらから</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</form>
<!-- LOGIN LOGOUT BUTTONS -->
<div class="buttonGroup">
	<button id="liffLoginButton">Log in</button>
	<button id="liffLogoutButton">Log out</button>
</div>
<div id="statusMessage">
	<div id="isInClientMessage"></div>
	<div id="apiReferenceMessage">
		<p>Available LIFF methods vary depending on the browser you use to open the LIFF app.</p>
		<p>Please refer to the <a href="https://developers.line.biz/en/reference/liff/#initialize-liff-app">API reference page</a> for more information.</p>
	</div>
</div>
<!-- LIFF ID ERROR -->
<div id="liffIdErrorMessage" class="hidden">
	<p>You have not assigned any value for LIFF ID.</p>
	<p>If you are running the app using Node.js, please set the LIFF ID as an environment variable in your Heroku account follwing the below steps: </p>
	<code id="code-block">
		<ol>
			<li>Go to `Dashboard` in your Heroku account.</li>
			<li>Click on the app you just created.</li>
			<li>Click on `Settings` and toggle `Reveal Config Vars`.</li>
			<li>Set `MY_LIFF_ID` as the key and the LIFF ID as the value.</li>
			<li>Your app should be up and running. Enter the URL of your app in a web browser.</li>
		</ol>
	</code>
	<p>If you are using any other platform, please add your LIFF ID in the <code>index.html</code> file.</p>
	<p>For more information about how to add your LIFF ID, see <a href="https://developers.line.biz/en/reference/liff/#initialize-liff-app">Initializing the LIFF app</a>.</p>
</div>
<!-- LIFF INIT ERROR -->
<div id="liffInitErrorMessage" class="hidden">
	<p>Something went wrong with LIFF initialization.</p>
	<p>LIFF initialization can fail if a user clicks "Cancel" on the "Grant permission" screen, or if an error occurs in the process of <code>liff.init()</code>.</p>
</div>
<!-- NODE.JS LIFF ID ERROR -->
<div id="nodeLiffIdErrorMessage" class="hidden">
	<p>Unable to receive the LIFF ID as an environment variable.</p>
</div>
<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
<!-- <script src="{{ url_for('Static.js', file_name='mailsetting') }}"></script> -->
{% endblock %}
